* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background: url("https://media.giphy.com/media/xThuWd5Go1F2qDsg1O/giphy.gif")
    no-repeat fixed center;
  background-size: cover;
  color: whitesmoke;
}

.box {
  border: solid 2px white;
}

/* Starting Page Designs */

#start-title {
}

/* Button Designs */
#js-submit-button {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

/* jQuery Question Template Styling */

#feedback-page {
  align-content: center;
}
